@use "../custom" as *;

.header {
  padding-top: 3rem;
  padding-bottom: 3rem;

  @include media-breakpoint-up(md) {
    padding-top: 1rem;
    padding-bottom: 5rem;
  }

  .logo-h1 {
    font-size: 4rem;
    font-weight: 900;
  }
}

.logo {
  width: 10rem;
}
