//Reescribir variables de bootstrap
$rojo: #f34f51;
$verde: #0098ae;
$oscuro: #212121;

//Asignar paleta de colores a bootstrap
$primary: $rojo;
$secondary: $verde;
$dark: $oscuro;

//tIPOGRAFIA
$display-font-weight: 900;
$headings-font-weight: 900;

//cards
$card-border-color: transparent;

//Importar Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
